<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968766722870-kt86r40rmsfv6rvqqagtc6m01q0i97u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968766722870-kt86r40rmsfv6rvqqagtc6m01q0i97u3</string>
	<key>API_KEY</key>
	<string>AIzaSyC3YZoFv664PHbBzLKITerVLfiqfCOOy0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>968766722870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IdeaTech.MuscleOnline</string>
	<key>PROJECT_ID</key>
	<string>muscleonline-ios-android</string>
	<key>STORAGE_BUCKET</key>
	<string>muscleonline-ios-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968766722870:ios:1c92201c83fd9b10fa9997</string>
</dict>
</plist>